*{

    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    /* complete la pantalla */
    box-sizing: border-box;
    text-decoration: none;
}

body{
    /* background-color: rgba(0, 255, 21, 0.171); */
    background-color: rgb(19, 19, 19);
}

header{

    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h3{
    color: rgb(0, 109, 9);;
    font-family: 'Dancing Script', cursive;
    font-size: 66px;

}

nav{
    color:rgb(0, 0, 0);
}

nav > a{

    color: black;
    margin: 15px;
    font-size: large;

}

nav > a:hover{

    text-decoration: none;
    color: rgb(0, 109, 9);
    /* grosor de la letra */
    font-weight: bolder;

}

.imagenes{
    /* background-color: whitesmoke; */
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    display: flex;
    margin: 15px; 
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.imagenes > img{

    margin: 5px;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border-style:ridge;
}

.imagenes > img:hover{

    border-color: greenyellow;
    border-width: 10px;

}

.productos{

    background-color: rgb(83, 109, 94);
    padding: 8px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 25px;
    display: flex;

}

footer{
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.logo{

    display: flex;
    align-items: flex-end;
    margin-right: 225px;
    flex-wrap: wrap;

}

h5{

    color: rgb(255, 255, 255);;
    font-family: 'Dancing Script', cursive;
    font-size: 17px;

}

.logo > p{

    color: white;

}

.informacion{

    color: white;
    margin-right: 300px;
    flex-wrap: wrap;
}

.informacion > p{

    font-size: larger;

}
.informacion > a{

    color: white;
    border-radius: 10px;
    margin: 1px;

}

.informacion > a:hover{

    text-decoration: none;
    color: greenyellow;

}

.datos-admin{

    color: white;
    flex-wrap: wrap;

}

.titulo{

    font-size: larger;

}

.datos-admin > p{

    color: white;

}

.info{

    background-color: rgb(54, 71, 61);
    display: flex;
    justify-content: center;
    padding: 15px;

}

.info > p{
    color: white;

}